.underlayButton{
	-fx-background-image: url('/de/tu_darmstadt/informatik/tk/scopviz/main/underlay_button.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.operatorButton{
	-fx-background-image: url('/de/tu_darmstadt/informatik/tk/scopviz/main/operator_button.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.mappingButton{
	-fx-background-image: url('/de/tu_darmstadt/informatik/tk/scopviz/main/mapping_button.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.symbolRepButton{
	-fx-background-image: url('/de/tu_darmstadt/informatik/tk/scopviz/main/sym_rep_button.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.consoleWindow{
    -fx-content-display: top;
  -fx-border-insets: 2 0 0 0;
  -fx-border-color: -fx-text-box-border;
  -fx-border-width: 2;

}
