.underlayButton{
	-fx-background-image: url('test.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.operatorButton{
	-fx-background-image: url('test.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.mappingButton{
	-fx-background-image: url('test.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

.symbolRepButton{
	-fx-background-image: url('test.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center
}
